# Ignore build artifacts
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore local files
*.log
*.env
*.iml
*.class

# IDE / editor configs
.idea/
.vscode/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore